/* Basic Styling */
body {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
    padding-bottom: 50px;
}

h1{
  color: #ffffff;
}

h2,h3{
  color: #025955;
}


p, figcaption {
    color: #555;
    line-height: 1.6;
}

a {
    color: #025955;
}

a:hover {
    text-decoration: underline;
}


/*----------------------------*/



/* Updated Navigation Bar Styling */
.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.navbar li {
    /* Removed display: inline; allowing flexbox to control the layout */
    margin-right: 20px; /* Adjust as necessary */
}

.navbar li a {
    display: block; /* Ensures the links are properly clickable and can fill the flex container */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ddd;
    color: #025955;
}



/*----------------------------*/


/* Figcaption Styling */
figcaption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff; 
    font-size: 17px; 
    font-weight: bold; 
    
}



/*----------------------------*/


/*Image Container Styling */
.image-grid figure {
    background-color: #025955; 
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px 0; 
    text-align: center; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}


/*----------------------------*/



/* Header Styling */
.header-item {
    display: flex;
    align-items: center;
    gap: 15px; 
}

#header-img {
    width: 60px; 
    height: auto; 
    border-radius: 50%; /* Circular image */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}

.header-container h1 {
    margin: 0;
    font-size: 24px; 
}


/*----------------------------*/


/* Section Styling */
section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 28px;
}

h2 {
    border-bottom: 2px solid #025955;
    padding-bottom: 10px;
}




/*----------------------------*/




/* Impact Section */
.impact figure {
    margin: 20px 0;
}

.impact img {
    width: 100%;
    border-radius: 10px;
}

.impact figcaption {
    text-align: center;
    margin-top: 10px;
}



/*----------------------------*/



/* Footer Styling */
.footer {
    background-color: #025955;
    color: #FFF;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
a {
    color: #ffffff;
}

.footer a:hover {
    text-decoration: none;
}


/*----------------------------*/


/* Header Styling */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    background-color: #025955;
    color: #FFF;
}

.header-container h1 {
    margin: 0;
}

.header-container nav {
    display: flex;
    gap: 20px;
}

.header-container button {
    background-color: #FFF;
    color: #025955;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-container button:hover {
    background-color: #ddd;
}


/*----------------------------*/



/* Signature Counter Styling */
#signature-counter {
    background-color: #025955;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Signatures Section Styling */
.signatures {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Signature Styling */
.signatures p {
    margin: 5px 0;
}


/*----------------------------*/



/* Description Styling */
.description {
    font-size: 18px;
    margin-top: 15px;
    text-align: justify;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
}

/* Example Usage */
section p.description {
    font-size: 16px;
    margin-top: 15px;
    text-align: justify;
}


/*----------------------------*/



/*Basic Dark Mode Styling */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3 {
    color: #fff;
}

body.dark-mode a, body.dark-mode p, body.dark-mode figcaption {
    color: #ddd;

}

body.dark-mode .navbar li a {
    color: #fff;
}

body.dark-mode .navbar li a:hover {
    background-color: #555;
    color: #fff;
}

body.dark-mode .header-container {
    background-color: #555;
}

body.dark-mode section {
    background-color: #444;
}


/*----------------------------*/


/* Dark Mode Button Styling */
.dark-mode-btn {
    padding: 10px 20px; 
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}



/*----------------------------*/


/* Dark Mode Styling for Form Section */
body.dark-mode .petition {
    background-color: #444; 
    color: #fff; 
}

body.dark-mode .petition label {
    color: #ddd; 
}

body.dark-mode .petition input[type="text"] {
    background-color: #333; 
    color: #fff; 
    border: 1px solid #666; 
}

body.dark-mode .petition button {
    background-color: #025955; 
    color: #fff; 
    border: none;
}

body.dark-mode .petition button:hover {
    background-color: #444; 
}


/*----------------------------*/



/*Signature Styling in Dark Mode */
body.dark-mode .signatures {
    background-color: #333; 
}

body.dark-mode .signatures p {
    color: #ddd; 
}


/*----------------------------*/



/* Dark Mode Styling for Description */
body.dark-mode .description {
    background-color: #333; 
    color: #fff; 
    border-radius: 5px; 
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1); 
    font-size: 16px; 
}


/*----------------------------*/


/* Dark Mode Styling for Image Grid Figure */
body.dark-mode .image-grid figure {
    background-color: #444; /* Dark background color in dark mode */
    border-color: #fff; /* Change border color in dark mode */
}


/*----------------------------*/


/* Dark Mode Styling for Image Grid Figure Hover */
body.dark-mode .image-grid figure:hover {
    background-color: #555; /* Dark background color on hover in dark mode */
    border-color: #025955; /* Change border color on hover in dark mode */
}




.error {
  border-style: solid;
  border-width: 2px;
  border-color: red !important;
  background: pink;
}

.revealable {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
}

.revealable.active {
    opacity: 1;
    transform: translateY(0);
}




.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #ffffff; /* White background for a clean look */
  color: #000000; 
  text-align: center;
  font-size: 1.5rem; /* Smaller font size for a more professional look */
  padding: 2rem; /* Padding to prevent content from touching the edges */
  border-radius: 8px; /* Rounded corners for a modern look */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); /* Subtle shadow for depth */
  width: auto; /* Width adjusts to the content */
  max-width: 600px; /* Maximum width to control the modal size */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#thanks-modal-content {
  width: 20rem;
}

#modal-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styling for the image inside the modal */
.modal-content img {
  max-width: 70%;
  width: auto; 
  height: auto; 
  margin-top: 1rem;
  border-radius: 4px; 
}


/* Video container styling to fit multiple devices */

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio of 16:9 */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* Sign Petition Form Styling */
#sign-petition {
    width: 90%; /* Adjust based on preference */
    margin: 20px auto; /* Center the form */
}

#sign-petition input[type="text"], 
#sign-petition button {
    width: 100%; /* Make input fields and button take full width */
    padding: 10px; /* Add padding for better touch interaction */
    margin: 5px 0; /* Add space between form elements */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#sign-petition label {
    display: block; /* Ensure labels are above input fields */
    margin-top: 10px; /* Space above labels */
}

#sign-petition button {
    background-color: #025955; /* Button color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    margin-top: 10px; /* Space above the button */
}

#sign-petition button:hover {
    opacity: 0.8; /* Slight visual feedback on hover */
}